// 에디터별로 eslint를 활성해야 할수도 있다.
{
  "parser": "babel-eslint", // 바벨 최신 문법을 지원
  "parserOptions": {
    "ecmaVersion": 2018, // 에크마(ecma) script 2018년 기준
    "sourceType": "module", // node와 react는 import / export / require로 사용한다.
    "ecmaFeatures": {
      "jsx": true // jsx 문법 허용
    }
  },
  "env": {
    "browser": true, // 브라우저 환경
    "node": true, // 노드 환경
    "es6": true
  },

  "extends": [
    "airbnb" // airbnb에 대한 eslint 적용
  ],

  "plugins": [
    "import", // import /export 문법 지원 설치
    "react-hooks" // hooks 플러그인 설치
  ],

  "rules": {
    "no-underscore-dangle": 0,
    "eol-last": 0,
    "react/forbid-prop-types": 0,
    "no-trailing-spaces": 0,
    "react/jsx-filename-extension": 0,
    "arrow-parens": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "max-len": ["error", { "code": 120}],
    "jsx-a11y/alt-text": 0,
    "react/react-in-jsx-scope": 0,
    "quotes": 0,
    "prefer-destructuring": 0,
  }
}
